In [1]:
import numpy as np
import pandas as pd 
import datetime
import matplotlib.pyplot as plt 
%matplotlib inline 

plt.rc('font', family = 'AppleGothic')
plt.rcParams['axes.unicode_minus'] = False


df = pd.read_csv('한국가스공사_시간별 공급량_20181231.csv', encoding = 'euc-kr')
test = pd.read_csv('가스공급량 수요예측모델개발_data/test.csv')
sub = pd.read_csv('가스공급량 수요예측모델개발_data/sample_submission.csv')

### 원본 데이터 분할

In [2]:
def tohour(val):
    if len(val) == 1:
        return '0'+val+':00:00'
    else:
        return val+':00:00'

In [3]:
df['시간_수정'] = df['시간'] -1 
df['시간_수정'] = df['시간_수정'].astype(str)
df['시간_수정'] = df['시간_수정'].apply(tohour)
df['연월일시간'] = df['연월일']+' '+df['시간_수정']
df['연월일시간'] = pd.to_datetime(df['연월일시간'])

In [4]:
A = df[df['구분'] =='A']
B = df[df['구분'] =='B']
C = df[df['구분'] =='C']
D = df[df['구분'] =='D']
E = df[df['구분'] =='E']
G = df[df['구분'] =='G']
H = df[df['구분'] =='H']

In [5]:
def gubun(df):
    df = df[['연월일시간','공급량']]
    df.columns = ['ds','y']
    df = df.set_index('ds')
    return df

In [6]:
a = gubun(A)
b = gubun(B)
c = gubun(C)
d = gubun(D)
e = gubun(E)
g = gubun(G)
h = gubun(H)

In [7]:
test['일자'] =test['일자|시간|구분'].str.slice(0,10)
test['시간'] = test['일자|시간|구분'].str.slice(11,13)
test['구분'] = test['일자|시간|구분'].str.slice(14)
test['시간_수정'] = test['시간'].astype(int)-1
test['시간_수정'] =test['시간_수정'].astype(str)
test['시간_수정'] = test['시간_수정'].apply(tohour)
test['연월일시간'] = test['일자'] +' '+ test['시간_수정']
test['연월일시간'] = pd.to_datetime(test['연월일시간'])

In [8]:
def gubun_t(구분):
    a_test = test[test['구분'] ==구분][['연월일시간']]
    a_test.columns =['ds']
    
    return a_test

In [9]:
a_test = gubun_t('A')
b_test = gubun_t('B')
c_test = gubun_t('C')
d_test = gubun_t('D')
e_test = gubun_t('E')
g_test = gubun_t('G')
h_test = gubun_t('H')

## 데이터 스케일링 및 전처리

In [18]:
a

                            y
ds
2013-01-01 00:00:00  2497.129
2013-01-01 01:00:00  2363.265
2013-01-01 02:00:00  2258.505
2013-01-01 03:00:00  2243.969
2013-01-01 04:00:00  2344.105
...                       ...
2018-12-31 19:00:00  3040.868
2018-12-31 20:00:00  2973.577
2018-12-31 21:00:00  2840.272
2018-12-31 22:00:00  2692.385
2018-12-31 23:00:00  2583.340

[52584 rows x 1 columns]

In [14]:
c

                           y
ds
2013-01-01 00:00:00  226.178
2013-01-01 01:00:00  215.778
2013-01-01 02:00:00  202.178
2013-01-01 03:00:00  198.978
2013-01-01 04:00:00  200.578
...                      ...
2018-12-31 19:00:00  265.980
2018-12-31 20:00:00  262.239
2018-12-31 21:00:00  256.000
2018-12-31 22:00:00  246.020
2018-12-31 23:00:00  237.911

[52584 rows x 1 columns]

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
scaler_a = MinMaxScaler()
scaler_b = MinMaxScaler()
scaler_c = MinMaxScaler()
scaler_d = MinMaxScaler()
scaler_e = MinMaxScaler()
scaler_g = MinMaxScaler()
scaler_h = MinMaxScaler()

In [23]:
sc_a = scaler_a.fit_transform(a)
sc_b = scaler_b.fit_transform(b)
sc_c = scaler_c.fit_transform(c)
sc_d = scaler_d.fit_transform(d)
sc_e = scaler_e.fit_transform(e)
sc_g = scaler_g.fit_transform(g)
sc_h = scaler_h.fit_transform(h)

In [43]:
def create_dataset(signal_data, look_back=1):  
    x_arr, y_arr = [], []
    for i in range(len(signal_data) - look_back):
        x_arr.append(signal_data[i:(i + look_back), 0])
        y_arr.append(signal_data[i + look_back, 0])

    x_arr = np.array(x_arr)
    x_arr = np.reshape(x_arr, (x_arr.shape[0], x_arr.shape[1], 1))
    return x_arr, np.array(y_arr)

In [41]:
train.iloc[0:365, 0]

ds
2013-01-01 00:00:00    2497.129
2013-01-01 01:00:00    2363.265
2013-01-01 02:00:00    2258.505
2013-01-01 03:00:00    2243.969
2013-01-01 04:00:00    2344.105
                         ...
2013-01-16 00:00:00    2261.241
2013-01-16 01:00:00    2001.697
2013-01-16 02:00:00    1865.097
2013-01-16 03:00:00    1914.737
2013-01-16 04:00:00    2080.313
Name: y, Length: 365, dtype: float64

## 모델링 및 학습

### 구분 = a

In [44]:
look_back = 365
train = sc_a[0:int(len(sc_a) * 0.5)]  
val = sc_a[int(len(sc_a) * 0.5):int(len(sc_a) * 0.75)]  
test = sc_a[int(len(sc_a) * 0.75):-1]

x_train, y_train = create_dataset(train, look_back)  
x_val, y_val = create_dataset(val, look_back)  
x_test, y_test = create_dataset(test, look_back)

In [69]:
x_train.shape

(25927, 365, 1)

In [47]:
import tensorflow as tf 
from tensorflow import keras

from tensorflow.keras.layers import Dense, Dropout, SimpleRNN,LSTM
from tensorflow.keras.models import Sequential

In [48]:
lstm_model = Sequential()

lstm_model.add(LSTM(40,activation="tanh",return_sequences=True, input_shape=(x_train.shape[1],1)))
lstm_model.add(Dropout(0.15))

lstm_model.add(LSTM(40,activation="tanh",return_sequences=True))
lstm_model.add(Dropout(0.15))

lstm_model.add(LSTM(40,activation="tanh",return_sequences=False))
lstm_model.add(Dropout(0.15))

lstm_model.add(Dense(1))

lstm_model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 365, 40)           6720
_________________________________________________________________
dropout_3 (Dropout)          (None, 365, 40)           0
_________________________________________________________________
lstm_4 (LSTM)                (None, 365, 40)           12960
_________________________________________________________________
dropout_4 (Dropout)          (None, 365, 40)           0
_________________________________________________________________
lstm_5 (LSTM)                (None, 40)                12960
_________________________________________________________________
dropout_5 (Dropout)          (None, 40)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 41
=================================================================
Total params: 32,681
Trainable params: 32,681
Non-trainable params: 0
_________________________________________________________________

In [49]:
lstm_model.compile(optimizer="adam",loss="MSE")
lstm_model.fit(x_train, y_train, epochs=10, batch_size=1000, validation_data =(x_val, y_val))

Epoch 1/10
26/26 [==============================] - 44s 2s/step - loss: 0.0028 - val_loss: 6.9828e-04
Epoch 2/10
26/26 [==============================] - 41s 2s/step - loss: 8.8131e-04 - val_loss: 7.0609e-04
Epoch 3/10
26/26 [==============================] - 41s 2s/step - loss: 7.9632e-04 - val_loss: 6.8891e-04
Epoch 4/10
26/26 [==============================] - 44s 2s/step - loss: 7.9073e-04 - val_loss: 6.7933e-04
Epoch 5/10
26/26 [==============================] - 43s 2s/step - loss: 7.7944e-04 - val_loss: 6.8402e-04
Epoch 6/10
26/26 [==============================] - 43s 2s/step - loss: 7.6949e-04 - val_loss: 6.6980e-04
Epoch 7/10
26/26 [==============================] - 40s 2s/step - loss: 7.5684e-04 - val_loss: 6.7549e-04
Epoch 8/10
26/26 [==============================] - 42s 2s/step - loss: 7.4814e-04 - val_loss: 6.5829e-04
Epoch 9/10
26/26 [==============================] - 42s 2s/step - loss: 7.3943e-04 - val_loss: 6.5283e-04
Epoch 10/10
26/26 [==============================] - 41s 2s/step - loss: 7.2414e-04 - val_loss: 6.4805e-04

In [50]:
lstm_predictions = lstm_model.predict(x_test)

In [58]:
real_pred = scaler_a.inverse_transform(lstm_predictions)

In [59]:
real_pred

array([[ 506.31638],
       [ 512.7477 ],
       [ 521.1286 ],
       ...,
       [2662.8667 ],
       [2674.9202 ],
       [2686.9897 ]], dtype=float32)

In [60]:
from sklearn.metrics import r2_score

In [61]:
r2_score(y_test, real_pred)

-419593835.3613263

In [65]:
r2_score(y_test, lstm_predictions)

0.8548188353258834

In [72]:
x_test.shape

(12780, 365, 1)

In [73]:
y_test.shape

(12780,)

In [71]:
a_test.shape

(2160, 1)