In [1]:
import numpy as np 
import pandas as pd 
import lightgbm as lgb

In [21]:
data = pd.read_csv('한국가스공사_시간별 공급량_20181231.csv', encoding ='cp949')
data['연월일'] = pd.to_datetime(data['연월일'])
data['year'] = data['연월일'].dt.year
data['month'] = data['연월일'].dt.month
data['day'] = data['연월일'].dt.day
data['weekday'] = data['연월일'].dt.weekday

In [23]:
data.groupby('구분').size()

구분
A    52584
B    52584
C    52584
D    52584
E    52584
G    52584
H    52584
dtype: int64

In [24]:
test = pd.read_csv('가스공급량 수요예측모델개발_data/test.csv')
sub = pd.read_csv('가스공급량 수요예측모델개발_data/sample_submission.csv')
test['일자'] = test['일자|시간|구분'].str.split(' ').str[0]
test['시간'] = test['일자|시간|구분'].str.split(' ').str[1].astype(int)
test['구분'] = test['일자|시간|구분'].str.split(' ').str[2]
test['일자'] = pd.to_datetime(test['일자'])
test['year'] = test['일자'].dt.year
test['month'] = test['일자'].dt.month
test['day'] = test['일자'].dt.day
test['weekday'] = test['일자'].dt.weekday
test['구분'] = test['구분'].map(d_map)

In [26]:
elc = pd.read_csv('한국전력거래소_시간별 발전량_20201231.csv', encoding = 'cp949')

In [27]:
time_elc = elc.set_index('거래일').stack().reset_index()
time_elc.columns = ['연월일','시간','전력발전량']
time_elc['시간'] = time_elc['시간'].str.replace('시', '').astype(int)

In [29]:
data['연월일']=data['연월일'].astype(str)
time_elc['연월일'] = time_elc['연월일'].astype(str)

## 구분을 나누어 모델 생성
A-H 까지의 구분을 나누어 lgbm 모델을 생성

In [30]:
new_data = pd.merge(time_elc, data, how = 'left', right_index = False)
train_data = new_data.dropna()

In [31]:
new_data[new_data['구분'] == 'A']

               연월일  시간        전력발전량 구분       공급량    year  month   day  weekday
0       2017-01-01   1  55122.00025  A  1637.137  2017.0    1.0   1.0      6.0
7       2017-01-01   2  52867.08431  A  1528.425  2017.0    1.0   1.0      6.0
14      2017-01-01   3  51112.85964  A  1425.081  2017.0    1.0   1.0      6.0
21      2017-01-01   4  50228.43714  A  1422.889  2017.0    1.0   1.0      6.0
28      2017-01-01   5  50270.22378  A  1519.809  2017.0    1.0   1.0      6.0
...            ...  ..          ... ..       ...     ...    ...   ...      ...
122605  2018-12-31  20  64342.18643  A  3040.868  2018.0   12.0  31.0      0.0
122612  2018-12-31  21  63316.44165  A  2973.577  2018.0   12.0  31.0      0.0
122619  2018-12-31  22  62296.87255  A  2840.272  2018.0   12.0  31.0      0.0
122626  2018-12-31  23  62263.59216  A  2692.385  2018.0   12.0  31.0      0.0
122633  2018-12-31  24  64571.97440  A  2583.340  2018.0   12.0  31.0      0.0

[17520 rows x 9 columns]

In [32]:
A = new_data[new_data['구분'] == 'A']
B = new_data[new_data['구분'] == 'B']
C = new_data[new_data['구분'] == 'C']
D = new_data[new_data['구분'] == 'D']
E = new_data[new_data['구분'] == 'E']
G = new_data[new_data['구분'] == 'G']
H = new_data[new_data['구분'] == 'H']

In [35]:
def changeType(train_data):
    train_data.year = train_data.year.astype(int)
    train_data.month = train_data.month.astype(int)
    train_data.day = train_data.day.astype(int)
    train_data.weekday = train_data.weekday.astype(int)
    
    return train_data

In [36]:
A = changeType(A)
B = changeType(B)
C = changeType(C)
D = changeType(D)
E = changeType(E)
G = changeType(G)
H = changeType(H)

/Users/openknowl/miniforge3/envs/tf_pu/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [49]:
A.shape

(17520, 9)

## 구분별 모델 학습 및 예측

In [38]:
def xy_df(train_data):
    y = train_data['공급량'] 
    x = train_data[['전력발전량','year','month','day','weekday']]
    
    return x, y

In [50]:
a_x, a_y = xy_df(A)
b_x, b_y = xy_df(B)
c_x, c_y = xy_df(C)
d_x, d_y = xy_df(D)
e_x, e_y = xy_df(E)
g_x, g_y = xy_df(G)
h_x, h_y = xy_df(H)

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [52]:
def scaling(x):
    scaler = MinMaxScaler(feature_range = (0,1))
    scaler.fit(pd.DataFrame(x['전력발전량']))
    x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
    return scaler, x

In [53]:
scaler_a, a_x = scaling(a_x)
scaler_b, b_x = scaling(b_x)
scaler_c, c_x = scaling(c_x)
scaler_d, d_x = scaling(d_x)
scaler_e, e_x = scaling(e_x)
scaler_g, g_x = scaling(g_x)
scaler_h, h_x = scaling(h_x)

/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))
/var/folders/lf/472dwzh15hqd9qhdk_3h5sx40000gp/T/ipykernel_16459/4210794255.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['전력발전량'] = scaler.transform(pd.DataFrame(x['전력발전량']))

In [55]:
a_x.shape

(17520, 5)

In [59]:
a_x

           전력발전량  year  month  day  weekday
0       0.339148  2017      1    1        6
7       0.291324  2017      1    1        6
14      0.254119  2017      1    1        6
21      0.235362  2017      1    1        6
28      0.236248  2017      1    1        6
...          ...   ...    ...  ...      ...
122605  0.534697  2018     12   31        0
122612  0.512942  2018     12   31        0
122619  0.491318  2018     12   31        0
122626  0.490613  2018     12   31        0
122633  0.539570  2018     12   31        0

[17520 rows x 5 columns]

In [45]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, shuffle = True, 
                                                    random_state = 1000)

In [13]:
d_train = lgb.Dataset(X_train, y_train)
d_test = lgb.Dataset(X_test, y_test)

In [67]:
def model(x, y):
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, 
                                                        shuffle = True, 
                                                        random_state = 1000)
    
    d_train = lgb.Dataset(X_train, y_train)
    d_test = lgb.Dataset(X_test, y_test)
    
    params = {'objective' : 'regression',
             'metric':'mae',
              'learning_rate' : 0.002,
             'seed': 1000}
    
    lgbr = lgb.train(params, d_train, 50000, d_test, verbose_eval = 5000,
                  early_stopping_rounds = 2000)
    
    
    return lgbr

In [68]:
a_lgbr = model(a_x, a_y)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000251 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 310
[LightGBM] [Info] Number of data points in the train set: 13140, number of used features: 5
[LightGBM] [Info] Start training from score 1192.872535
Training until validation scores don't improve for 2000 rounds
[5000]	valid_0's l1: 143.436
[10000]	valid_0's l1: 137.802
[15000]	valid_0's l1: 135.737
[20000]	valid_0's l1: 134.743
[25000]	valid_0's l1: 133.897
[30000]	valid_0's l1: 133.556
Early stopping, best iteration is:
[32494]	valid_0's l1: 133.475

In [ ]:
test_x = test[['일자','시간','구분','year','month','day','weekday']]
test_x.columns = ['연월일','시간','구분','year','month','day','weekday']
test_x['연월일'] = test_x['연월일'].astype(str)

test_x = pd.merge(test_x, time_elc, how = 'left', right_index = False)
test_x = test_x[['전력발전량','구분','year','month','day','weekday']]
test_x['전력발전량'] = scaler.transform(pd.DataFrame(test_x['전력발전량']))

In [ ]:
pred = lgbr.predict(test_x)

In [ ]:
sub['공급량'] = pred