# 추천 시스템 

추천 시스템의 진정한 묘미는 사용자 자신도 좋아했는지 몰랐던 취향을 시스템이 발견하고 그에 맞는 콘텐츠를 추천해주는 것.     
좋은 시스템은 사용자가 무엇을 원하는지 빠르게 찾아내 사용자의 온라인 쇼핑의 즐거움을 배가합니다.     
따라서 온라인 시스템에서 추천 시스템은 필수 구성 요소.   

추천 시스템의 유형 
1. Content based Filtering 
    사용자가 특정한 아이템을 매우 선호하는 경우, 그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천하는 방식.     

2. Collaborative Filtering
    사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 사용자 행동양식만을 기반으로 추천 수행 방식.    
    사용자-아이템 평정 행렬 형태로 변경하여 희소 행렬의 특성을 가짐.   
    
    
    - Neareast Neighbor 최근접 이웃 협업 필터링 ( = 메모리 협업 필터링 ) 
        * User-User : 사용자 기반 
        특정 사용자와 타 사용자 간의 유사도를 측정한 뒤 가장 유사도가 높은 Top-N 사용자를 추출해 그들이 선호하는 아이템을 추천.    
        
        * Item-Item : 아이템 기반 
        아이템이 가지는 속성과는 상관없이 사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘. 
        
        
        ** 유사도 측정 방법 : 코사인 유사도 
    
    - Latent Factor 잠재 요인 협업 필터링
        사용자-아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법.   
        대규모 다차원 행렬을 SVD와 같은 차원 축소 기법으로 분해하는 과정에서 잠재요인을 추출하는데, 이를 행렬 분해라고 함.  
        '잠재요인'을 기반으로 다차원 희소행렬인 사용자-아이템 행렬 데이터를 저차원 밀집 행렬 사용자-잠재요인 행렬과 아이템-잠재요인 행렬의 전치 행렬로 분해할 수 있음.    
        분해된 두 행렬의 내적을 통해 새로운 예측 사용자-아이템 평점 행렬 데이터를 만들어서 사용자가 아직 평점을 부여하지 않은 아이템에 대한 예측평점을 생성하는 것.

In [14]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv('data/tmdb_5000_movies.csv')

In [4]:
pd.set_option('display.max_columns',None)

In [6]:
movies.shape

(4803, 20)

In [7]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [15]:
movies_df = movies[['id','title','genres','vote_average','vote_count',
                    'popularity','keywords','overview']]

In [10]:
# 개당 칼럼의 최대 글자 길이 설정
pd.set_option('max_colwidth', 100)

In [11]:
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [16]:
# 문자열을 list [dict1, dict2] 객체 반환 
from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [17]:
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {...","[{'id': 1463, 'name': 'culture clash'}, {'id': 2964, 'name': 'future'}, {'id': 3386, 'name': 'sp..."

In [18]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])

In [20]:
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

In [23]:
# word count 계산을 통해 Count Vectorizer 하여 코사도 유사도 측정 

from sklearn.feature_extraction.text import CountVectorizer

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df = 0, ngram_range = (1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])

In [24]:
genre_mat.shape

(4803, 276)

In [26]:
# 코사인 유사도 

from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)

In [27]:
genre_sim.shape

(4803, 4803)

In [31]:
genre_sim[:2]

array([[1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.59628479, 1.        , 0.4       , ..., 0.        , 0.        ,
        0.        ]])

In [32]:
genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]

In [33]:
genre_sim_sorted_ind[:1]

array([[   0, 3494,  813, ..., 3038, 3037, 2401]])

In [34]:
# 장르 유사도에 따른 영화 추천 함수 
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    
    # 인자로 입력된 movies_df 데이터 프레임에서 'title' 칼럼이 입력된 title_name 값이 데이터 프레임 추출 
    title_movie = df[df['title'] == title_name]
    
    # title_named 을 가진 데이터 프레임의 index 객체를 ndarray로 반환 
    title_index = title_movie.index.values
    
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n 개의 index 추출 
    similar_indexes = sorted_ind[title_index, : (top_n)]
    
    # 추출된 top_n index 출력 -> 2차원 에서 1차원으로 변경 
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [35]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title','vote_average']]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [39]:
# 가중 평점 함수 
m = movies['vote_count'].quantile(0.6)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
    
    v = record['vote_count']
    R = record['vote_average']
    
    return ((v/(v+m)) * R + (m/(m+v)) * C)

In [40]:
movies_df['weighted_vote'] = movies.apply(weighted_vote_average, axis = 1)

In [41]:
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote', ascending = False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [42]:
# 장르 유사도에 따른 영화 추천 함수 변경 
def find_sim_movie2(df, sorted_ind, title_name, top_n = 10):
    
    # 인자로 입력된 movies_df 데이터 프레임에서 'title' 칼럼이 입력된 title_name 값이 데이터 프레임 추출 
    title_movie = df[df['title'] == title_name] 
    
    # title_named 을 가진 데이터 프레임의 index 객체를 ndarray로 반환 
    title_index = title_movie.index.values
    
    #top_n 의 2배에 해당 하는 장르 유사성이 높은 인덱스 추출
    similar_indexes = sorted_ind[title_index, : (top_n*2)]
    
    # 추출된 top_n index 출력 -> 2차원 에서 1차원으로 변경 
    similar_indexes = similar_indexes.reshape(-1)
    
    # 기존 영화 인덱스는 제외 
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote',ascending =False)[:top_n]

In [44]:
similar_movies = find_sim_movie2(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)

In [45]:
similar_movies[['title','vote_average','weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427