# 운동 행동 분류 upgrade

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
%matplotlib inline
from matplotlib import rc
rc('font', family ='NanumMyeongjo')
plt.rcParams['axes.unicode_minus'] = False

train = pd.read_csv('train_features.csv')
train_label = pd.read_csv('train_labels.csv')
test = pd.read_csv('test_features.csv')
submission = pd.read_csv('sample_submission.csv')

In [3]:
train

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112
1,0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216
2,0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629
3,0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013
4,0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234
...,...,...,...,...,...,...,...,...
1874995,3124,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437
1874996,3124,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087
1874997,3124,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125
1874998,3124,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478
1874999,3124,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229

In [4]:
train_label

        id  label                          label_desc
0        0     37           Shoulder Press (dumbbell)
1        1     26                        Non-Exercise
2        2      3                  Biceps Curl (band)
3        3     26                        Non-Exercise
4        4     26                        Non-Exercise
...    ...    ...                                 ...
3120  3120     26                        Non-Exercise
3121  3121     26                        Non-Exercise
3122  3122     15  Dynamic Stretch (at your own pace)
3123  3123     26                        Non-Exercise
3124  3124      2                          Bicep Curl

[3125 rows x 3 columns]

In [9]:
y = train_label['label']

In [14]:
X = train.drop('time',axis = 1, inplace = False).groupby('id').agg(['max','min','mean'])

In [15]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [19]:
from sklearn.metrics import roc_auc_score, log_loss, accuracy_score

In [48]:
rf = RandomForestClassifier(n_jobs = -1, random_state = 0, min_samples_leaf = 50, 
                           n_estimators = 300)

In [49]:
rf.fit(X_train, y_train)

RandomForestClassifier(min_samples_leaf=50, n_estimators=300, n_jobs=-1,
                       random_state=0)

In [50]:
rf_pred = rf.predict(X_test)
print('예측 정확도 : ', accuracy_score(y_test, rf_pred))

예측 정확도 :  0.5616

In [59]:
y_pred = rf.predict_proba(X_test)
print('log loss : ', log_loss(y_test, y_pred))

log loss :  1.6779315988933428