# 운동 동작 분류

3축 가속도계(accelerometer)와 3축 [자이로스코프(gyroscope)](https://ko.wikipedia.org/wiki/자이로스코프)를 활용해 측정된 센서 데이터에 머신러닝 알고리즘을 적용해 운동 동작 인식 알고리즘 개발.

In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [5]:
behavior = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')

In [6]:
behavior.head()

   id  time     acc_x     acc_y     acc_z      gy_x       gy_y       gy_z
0   0     0  1.206087 -0.179371 -0.148447 -0.591608 -30.549010 -31.676112
1   0     1  1.287696 -0.198974 -0.182444  0.303100 -39.139103 -24.927216
2   0     2  1.304609 -0.195114 -0.253382 -3.617278 -44.122565 -25.019629
3   0     3  1.293095 -0.230366 -0.215210  2.712986 -53.597843 -27.454013
4   0     4  1.300887 -0.187757 -0.222523  4.286707 -57.906561 -27.961234

In [7]:
train_labels.head()

   id  label                 label_desc
0   0     37  Shoulder Press (dumbbell)
1   1     26               Non-Exercise
2   2      3         Biceps Curl (band)
3   3     26               Non-Exercise
4   4     26               Non-Exercise

In [11]:
len(train_labels.label_desc.unique())

61

In [14]:
train_labels.label_desc.value_counts().sort_values(ascending = False)

Non-Exercise                                    1518
Device on Table                                   97
Plank                                             55
Wall Squat                                        48
Jump Rope                                         47
                                                ...
Triceps Kickback (knee on bench) (right arm)      13
Arm Band Adjustment                               12
Dumbbell Row (knee on bench) (right arm)          12
Triceps Kickback (knee on bench) (left arm)       12
Dumbbell Row (knee on bench) (left arm)           12
Name: label_desc, Length: 61, dtype: int64

In [18]:
len(behavior.id.unique())

3125