### DART 기업 데이터 수집 
env : tf_kon

In [4]:
import dart_fss as dart
import configparser
import warnings 
import pandas as pd


warnings.filterwarnings('ignore')

In [5]:
config = configparser.ConfigParser()
config.read('config.ini', encoding ='utf-8')
api_key = config['dart']['key']

In [ ]:
dart.set_api_key(api_key = api_key)

In [7]:
corp_code = pd.DataFrame(dart.api.filings.get_corp_code())

Output()

In [8]:
corp_code['상장여부'] = corp_code['stock_code'].apply(lambda x : 999999999 if x is None else x)

In [9]:
stock_company = corp_code[corp_code['상장여부'] != 999999999]

In [10]:
stock_company.to_csv('dataset/stock_company.csv', index =False)

### 상장기업에 대한 사업보고서 데이터 수집

In [11]:
stock_company

      corp_code corp_name stock_code modify_date    상장여부
2013   00260985      한빛네트     036720    20170630  036720
2025   00264529      엔플렉스     040130    20170630  040130
2026   00358545    동서정보기술     055000    20170630  055000
2788   00231567     애드모바일     032600    20170630  032600
3896   00247939       씨모스     037600    20170630  037600
...         ...       ...        ...         ...     ...
89904  00526872     이수앱지스     086890    20220228  086890
89909  00567222    우림피티에스     101170    20220228  101170
89918  00361594       DMS     068790    20220228  068790
89922  01136348      나무기술     242040    20220228  242040
89938  00141626   오리엔트바이오     002630    20220228  002630

[3422 rows x 5 columns]