# 주차수요 예측 AI data 확인

In [4]:
%matplotlib inline
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns', None)

import warnings 
warnings.filterwarnings('ignore')

from matplotlib import rc 
rc('font', family = 'NanumMyeongjo')
plt.rcParams['axes.unicode_minus'] = False

In [170]:
train = pd.read_csv('parking_data/train.csv')

In [171]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [172]:
train.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [173]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

## 1. 단지코드

In [174]:
train.단지코드.value_counts()

C1439    48
C2132    47
C1859    40
C1790    33
C2597    32
         ..
C1316     2
C2437     1
C2340     1
C2520     1
C2188     1
Name: 단지코드, Length: 423, dtype: int64

In [175]:
train[train['단지코드']=='C2132']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
522,C2132,2428,아파트,부산광역시,영구임대,26.37,358,1.0,F,3912000,67260,0.0,1.0,756.0,359.0
523,C2132,2428,아파트,부산광역시,영구임대,26.37,1192,1.0,F,3912000,67260,0.0,1.0,756.0,359.0
524,C2132,2428,아파트,부산광역시,영구임대,31.32,239,1.0,C,6873000,94990,0.0,1.0,756.0,359.0
525,C2132,2428,아파트,부산광역시,영구임대,31.32,596,1.0,F,4646000,79890,0.0,1.0,756.0,359.0
526,C2132,2428,상가,부산광역시,임대상가,15.00,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
527,C2132,2428,상가,부산광역시,임대상가,15.00,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
528,C2132,2428,상가,부산광역시,임대상가,38.00,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
529,C2132,2428,상가,부산광역시,임대상가,38.00,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
530,C2132,2428,상가,부산광역시,임대상가,16.57,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
531,C2132,2428,상가,부산광역시,임대상가,18.38,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
532,C2132,2428,상가,부산광역시,임대상가,18.38,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
533,C2132,2428,상가,부산광역시,임대상가,20.90,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
534,C2132,2428,상가,부산광역시,임대상가,20.90,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
535,C2132,2428,상가,부산광역시,임대상가,20.90,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
536,C2132,2428,상가,부산광역시,임대상가,20.90,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
537,C2132,2428,상가,부산광역시,임대상가,21.94,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
538,C2132,2428,상가,부산광역시,임대상가,23.35,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
539,C2132,2428,상가,부산광역시,임대상가,26.25,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
540,C2132,2428,상가,부산광역시,임대상가,26.25,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
541,C2132,2428,상가,부산광역시,임대상가,28.38,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
542,C2132,2428,상가,부산광역시,임대상가,28.50,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
543,C2132,2428,상가,부산광역시,임대상가,33.15,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
544,C2132,2428,상가,부산광역시,임대상가,33.31,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
545,C2132,2428,상가,부산광역시,임대상가,33.39,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
546,C2132,2428,상가,부산광역시,임대상가,33.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
547,C2132,2428,상가,부산광역시,임대상가,33.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
548,C2132,2428,상가,부산광역시,임대상가,33.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
549,C2132,2428,상가,부산광역시,임대상가,37.26,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
550,C2132,2428,상가,부산광역시,임대상가,37.41,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
551,C2132,2428,상가,부산광역시,임대상가,37.41,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
552,C2132,2428,상가,부산광역시,임대상가,37.41,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
553,C2132,2428,상가,부산광역시,임대상가,37.49,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
554,C2132,2428,상가,부산광역시,임대상가,37.95,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
555,C2132,2428,상가,부산광역시,임대상가,37.95,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
556,C2132,2428,상가,부산광역시,임대상가,38.04,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
557,C2132,2428,상가,부산광역시,임대상가,39.33,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
558,C2132,2428,상가,부산광역시,임대상가,39.33,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
559,C2132,2428,상가,부산광역시,임대상가,39.33,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
560,C2132,2428,상가,부산광역시,임대상가,40.39,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
561,C2132,2428,상가,부산광역시,임대상가,54.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
562,C2132,2428,상가,부산광역시,임대상가,54.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
563,C2132,2428,상가,부산광역시,임대상가,54.51,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
564,C2132,2428,상가,부산광역시,임대상가,54.60,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
565,C2132,2428,상가,부산광역시,임대상가,54.61,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
566,C2132,2428,상가,부산광역시,임대상가,75.98,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
567,C2132,2428,상가,부산광역시,임대상가,407.97,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0
568,C2132,2428,상가,부산광역시,임대상가,583.40,1,1.0,D,NaN,NaN,0.0,1.0,756.0,359.0

## 2. 임대건물구분

In [176]:
train.임대건물구분.value_counts()

아파트    2390
상가      562
Name: 임대건물구분, dtype: int64

In [177]:
train[train['임대건물구분'] =='상가']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
835,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
836,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
837,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0
838,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,NaN,0.0,1.0,65.0,62.0

In [178]:
train[train['자격유형'] =='D'].isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    134
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [179]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

자격유형 = 'D' 인 경우에 임대보증금&임대료 NaN

In [180]:
train[train['자격유형'] == 'D']['임대건물구분'].value_counts()

상가     562
아파트      7
Name: 임대건물구분, dtype: int64

In [181]:
train[(train['자격유형'] =='D') & (train['임대건물구분'] =='아파트')]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2331,C1350,1401,아파트,대전광역시,공공분양,74.94,317,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2332,C1350,1401,아파트,대전광역시,공공분양,74.94,137,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [183]:
train[train['단지코드'] =='C1350']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2331,C1350,1401,아파트,대전광역시,공공분양,74.94,317,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2332,C1350,1401,아파트,대전광역시,공공분양,74.94,137,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2338,C1350,1401,아파트,대전광역시,공공임대(10년),51.99,106,2.0,A,28013000,408600,NaN,6.0,1636.0,2315.0
2339,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000,519350,NaN,6.0,1636.0,2315.0
2340,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000,516130,NaN,6.0,1636.0,2315.0
2341,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000,131130,NaN,6.0,1636.0,2315.0
2342,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000,152680,NaN,6.0,1636.0,2315.0
2343,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000,152480,NaN,6.0,1636.0,2315.0